.bg-dark {
    background-color: rgb(56, 56, 56);
}

.text-white {
    color: #fff;
}

.custom-image {
    border-radius: 20px;
    padding: 10px;
    width: calc(100% - 20px);
}

.custom-buttons button {
    border: 1px solid #fff;
    color: #fff;
}

.custom-buttons div {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.shopping-cart {
    position: fixed;
    right: 10px;
    top: 0;
}